<!DOCTYPE html>
<html>
<head>
    <title>Testing Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous">
    </script>
</head>
    <body>
        <h1>Testing Chat</h1>
        <ul id="messages"></ul>
        <input id="message-input" autocomplete="off"><button onclick="sendMessage()">Send</button>
    </body>

    <script type="text/javascript" charset="utf-8">
        fetch('/get_local_ip')
            .then(response => response.json())
            .then(data => {
                var localIp = data.local_ip;
                var socket = io(`ws://${localIp}:5000`);

                socket.on('connect', function () {
                    socket.send('User has connected!');
                });

                socket.on('message', function (msg) {
                    var messages = document.getElementById('messages');
                    var message = document.createElement('li');
                    message.textContent = msg;
                    messages.appendChild(message);
                });

                window.sendMessage = function () {
                    var messageInput = document.getElementById('message-input');
                    socket.send(messageInput.value);
                    messageInput.value = '';
                }
            })
            .catch(error => console.error('Error fetching local IP:', error));
    </script>
</html>
